// Arrow -------------------------------------------
.arrow {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    
    &__link {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    &__icon {
        fill: #ffffff;
        stroke: #ffffff;
        position: relative;
        z-index: -1;
        width: 32px;
        stroke-width: 12;
    }
}