// Search-form -------------------------------------------
.search-form {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 80px;
    height: 79px;
    width: 100%;
    background-color: #ffffff;
    display: none;
    align-items: center;

    &__input {
        height: 60px;
        width: 90%;
        margin-left: 20px;
        border: none;  
        font-size: 16px;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 1px;
        color: #6e774a;
        box-shadow: 0 0 0 10em white inset;
        
        &:focus {
            outline: none;
        }

        &::placeholder {
            text-transform: uppercase;
            color: #6e774a;
        }
    }

    &__btn {
        border: none;
        background-color: transparent;
        margin: 0 10px 0 10px;
        position: relative;
        z-index: 3;

        &:nth-last-child(1) {
            margin-right: 20px;
        }

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }

    &__icon {
        position: relative;
        z-index: -1;
        width: 22px;
        fill: #6e774a;

        &--width {
            width: 25px;
        }
    }
}


.highlight {
    background-color: #bbff00;
}