// Socials -------------------------------------------
.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    font-size: 23px;
    
    &__link {
        color: #6e774a;
        
        &:hover{

            & > i {
                transform: scale(1.4);
                transition: all .5s ease-out;
            }         
        }
    }

    &__item {
        margin-right: -11px;
    }
}